doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title RUTA DE APRENDIZAJE
    meta(meta name="description" content="")  
    link(rel="stylesheet", href="css/main.css")

  body
    .container.timeline__wrapper
      .row.justify-content-center.px-sm-2.px-md-5.py-5
        .col-12  
          section#timeline
            .timeline__header
              .timeline__header__logo
                img(src="assets/img/senaLogo.svg", alt="Logo SENA")
              .timeline__header__content
                h1 Ruta de aprendizaje
                p #[strong Programa:] Evaluador de competencias laborales en el área técnica de su dominio.

            .timeline__item.br--bottom   
              img(src="assets/img/inicio.svg", alt="")            
              p Inicio              
            .timeline-card-wrapper                              
              .timeline-card.card--step1
                .timeline-card__head
                  .number-box
                    span 01
                  .title-box #[strong Actividad de aprendizaje:] Interpreta la normativa referente al proceso de evaluación y certificación de competencias laborales
                .timeline-card__body            
                  .body-content-wrapper            
                    p #[strong Resultado de aprendizaje]</br>Interpretar el referente de evaluación teniendo en cuenta los componentes y lineamientos del organismo certificador.
                    .tl-hr-divider
                    p #[strong Material de formación]</br>Línea de Tiempo. 
                    p #[strong Evidencias:] 
                    ul
                      li Foro: Participar.
                      li Desarrollar un mapa mental.
                    .tl-hr-divider
                    p #[strong Material de formación]</br>Actividad interactiva. 
                    p #[strong Evidencias:]   
                    ul
                      li Actividad interactiva.  

              .timeline-card.card--step1
                .timeline-card__head
                  .number-box
                    span 02
                  .title-box #[strong Actividad de aprendizaje:] Ejecuta las fases del proceso de evaluación y certificación de competencias laborales
                .timeline-card__body            
                  .body-content-wrapper            
                    p #[strong Resultado de aprendizaje]</br>Ejecutar el proceso de evaluación de competencias laborales, acorde con lineamientos del organismo certificador.
                    .tl-hr-divider
                    p #[strong Material de formación]</br>Infografía y video tutorial incluyendo las diapositivas del proceso, por medio de gráfico con videos. 
                    p #[strong Evidencias:] 
                    ul
                      li Formulario de preguntas con glosario.
                      li Video explicativo sobre el proceso de sensibilización e inducción respuesta al estudio de caso.
                      li Producto publicitario, poster dando solución al caso.
                      li Evaluación en línea (juego interactivo) dando respuesta al caso.   

              .timeline-card.card--step1
                .timeline-card__head
                  .number-box
                    span 03
                  .title-box #[strong Actividad de aprendizaje:] Acompaña la finalización del proceso de evaluación y certificación de competencias laborales
                .timeline-card__body            
                  .body-content-wrapper            
                    p #[strong Resultado de aprendizaje]</br>Acompañar el cierre del proceso de evaluación certificación según lineamientos del organismo certificador.
                    .tl-hr-divider
                    p #[strong Material de formación]</br>Mapa Mental(videos). 
                    p #[strong Evidencias:] 
                    ul
                      li Informe de resultados del caso (paquetes de formatos proceso ECCL).
                      li Flujograma con el cierre del caso.          
            .timeline__item.br--top                
              img(src="assets/img/certificacion.svg", alt="")    
              p Certificación        
                